<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>XBin(XBIN.COM)-正品低价、品质保障、配送及时、轻松购物！</title>
    <meta name="description" content="XBinJD.COM-"/>
    <meta name="Keywords" content="网上购物,网上商城,手机,笔记本,电脑,MP3,CD,VCD,DV,相机,数码,配件,手表,存储卡,XBin"/>
    <link rel="icon" href="/images/favicon.ico" mce_href="//www.jd.com/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <script type="text/javascript">
        window.pageConfig = {
            compatible: true,
            preload: false,
            navId: "jdhome2016",
            timestamp: 1486618665000,
            leftCateABtestSwitch: 0,
            isEnablePDBP: 0,
            surveyLink: '//surveys.jd.com/index.php?r=survey/index/sid/889711/newtest/Y/lang/zh-Hans',
            surveyTitle: '调查问卷'
        };
    </script>
    <script type="text/javascript">
        window.search = function (a) {
            var b, c = "//search.jd.com/Search?q={keyword}&enc={enc}{additional}";
            var d = search.additinal || "";
            var e = document.getElementById(a);
            var f = e.value;
            if (f = f.replace(/^\s*(.*?)\s*$/, "$1"), f.length > 100 && (f = f.substring(0, 100)), "" == f) return void(window.location.href = window.location.href);
            var g = 0;
            "undefined" != typeof window.pageConfig && "undefined" != typeof window.pageConfig.searchType && (g = window.pageConfig.searchType);
            var h = "&cid{level}={cid}";
            var i = "string" == typeof search.cid ? search.cid : "";
            var j = "string" == typeof search.cLevel ? search.cLevel : "";
            var k = "string" == typeof search.ev_val ? search.ev_val : "";
            switch (g) {
                case 0:
                    break;
                case 1:
                    j = "-1", d += "&book=y";
                    break;
                case 2:
                    j = "-1", d += "&mvd=music";
                    break;
                case 3:
                    j = "-1", d += "&mvd=movie";
                    break;
                case 4:
                    j = "-1", d += "&mvd=education";
                    break;
                case 5:
                    var l = "&other_filters=%3Bcid1%2CL{cid1}M{cid1}[cid2]";
                    switch (j) {
                        case"51":
                            h = l.replace(/\[cid2]/, ""), h = h.replace(/\{cid1}/g, "5272");
                            break;
                        case"52":
                            h = l.replace(/\{cid1}/g, "5272"), h = h.replace(/\[cid2]/, "%3Bcid2%2CL{cid}M{cid}");
                            break;
                        case"61":
                            h = l.replace(/\[cid2]/, ""), h = h.replace(/\{cid1}/g, "5273");
                            break;
                        case"62":
                            h = l.replace(/\{cid1}/g, "5273"), h = h.replace(/\[cid2]/, "%3Bcid2%2CL{cid}M{cid}");
                            break;
                        case"71":
                            h = l.replace(/\[cid2]/, ""), h = h.replace(/\{cid1}/g, "5274");
                            break;
                        case"72":
                            h = l.replace(/\{cid1}/g, "5274"), h = h.replace(/\[cid2]/, "%3Bcid2%2CL{cid}M{cid}");
                            break;
                        case"81":
                            h = l.replace(/\[cid2]/, ""), h = h.replace(/\{cid1}/g, "5275");
                            break;
                        case"82":
                            h = l.replace(/\{cid1}/g, "5275"), h = h.replace(/\[cid2]/, "%3Bcid2%2CL{cid}M{cid}")
                    }
                    c = "//search-e.jd.com/searchDigitalBook?ajaxSearch=0&enc=utf-8&key={keyword}&page=1{additional}";
                    break;
                case 6:
                    j = "-1", c = "//music.jd.com/8_0_desc_0_0_1_15.html?key={keyword}";
                    break;
                case 7:
                    c = "//s-e.jd.com/Search?key={keyword}&enc=utf-8";
                    break;
                case 8:
                    c = "//192.168.100.222:8102/search.html?q={keyword}&enc=utf-8";
                    break;
                case 9:
                    d += "&market=1"
            }
            if ("string" == typeof i && "" != i && "string" == typeof j) {
                var m = /^(?:[1-8])?([1-3])$/;
                j = "-1" == j ? "" : m.test(j) ? RegExp.$1 : "";
                var n = h.replace(/\{level}/, j);
                n = n.replace(/\{cid}/g, i), d += n
            }
            if ("string" == typeof k && "" != k && (d += "&ev=" + k), f = encodeURIComponent(f), b = c.replace(/\{keyword}/, f), b = b.replace(/\{enc}/, "utf-8"), b = b.replace(/\{additional}/, d), "object" == typeof $o && ("string" == typeof $o.lastKeyword && (b += "&wq=" + encodeURIComponent($o.lastKeyword)), "string" == typeof $o.pvid && (b += "&pvid=" + $o.pvid)), b.indexOf("/search.jd.com/") > 0) try {
                JA.tracker.ngloader("search.000009", {key: f, posid: a, target: b})
            } catch (o) {
            }
            ("undefined" == typeof search.isSubmitted || 0 == search.isSubmitted) && (setTimeout(function () {
                window.location.href = b
            }, 50), search.isSubmitted = !0)
        };
    </script>
    <script type="text/javascript">
        pageConfig.idleTimeLoad = false;
    </script>
    <!--中部焦点图数据-->
    <script>
        pageConfig.focusData = [
            {
                "href": "//pro.jd.com/mall/active/3xbjFxnG5fwpk82EgYqPwNtQza3H/index.html",
                "src": "//m.360buyimg.com/babel/jfs/t1/26245/27/3392/86903/5c2728e6E0788a4de/feaf83586b3f1147.jpg",
                "srcB": "//m.360buyimg.com/babel/jfs/t1/26245/27/3392/86903/5c2728e6E0788a4de/feaf83586b3f1147.jpg",
                "alt": "家电综合12,30"
            }, {
                "href": "//sale.jd.com/act/wcV8MQsK3oWCDZz.html?donglian=2519",
                "src": "//m.360buyimg.com/babel/jfs/t1/14335/23/3416/91244/5c27461fE72c7d6c5/b926d94f1206801c.jpg",
                "srcB": "//m.360buyimg.com/babel/jfs/t1/14335/23/3416/91244/5c27461fE72c7d6c5/b926d94f1206801c.jpg",
                "alt": "飞科"
            }, {
                "href": "//sale.jd.com/act/CZU0MFolAijvt.html",
                "src": "//m.360buyimg.com/babel/jfs/t1/23061/38/3479/101616/5c27142bEc8aadc51/3f9ffda7b5956642.jpg",
                "srcB": "//m.360buyimg.com/babel/jfs/t1/23061/38/3479/101616/5c27142bEc8aadc51/3f9ffda7b5956642.jpg",
                "alt": "1.2-新年焕新家"
            }
        ];
        <!--index_ok-->
        <!--焦点图底部数据-->
        pageConfig.focusBottomData = {
            "isTop": false, "data": [
                {
                    "sku": "",
                    "t": "https://sale.jd.com/act/4N8a0fkM3ZdV5.html ",
                    "img": "//img13.360buyimg.com/cms/jfs/t3076/122/5805219777/13120/38121033/5881a2d8N1d944371.jpg",
                    "clk": ""
                },
                {
                    "sku": "",
                    "t": "https://channel.jd.com/fashion.html",
                    "img": "//img12.360buyimg.com/cms/jfs/t3055/59/5854586190/24564/a3463a97/5881a254N5636f3ff.jpg",
                    "clk": ""
                }
            ]
        };
        <!--index_ok-->
    </script>

</head>
<body class="index">
<!--top shortcut-->
<div id="shortcut">
    <div class="w">
        <ul class="fl" clstag="h|keycount|2016|01a">
            <li class="dorpdown" id="ttbar-mycity"></li>
        </ul>
        <ul class="fr">
            <li class="fore1" id="ttbar-login" clstag="h|keycount|2016|01b">
                <a target="_blank" href="javascript:login();" class="link-login">你好，请登录</a>&nbsp;&nbsp;
                <a href="javascript:regist();" class="link-regist style-red">免费注册</a>
            </li>
            <li class="spacer"></li>
            <li class="fore2" clstag="h|keycount|2016|01c">
                <div class="dt"><a target="_blank" href="//order.jd.com/center/list.action">我的订单</a></div>
            </li>
            <li class="spacer"></li>
            <li class="fore3 dorpdown" id="ttbar-myjd" clstag="h|keycount|2016|01d">
                <div class="dt cw-icon"><a target="_blank" href="//home.jd.com/">我的XBin</a><i class="iconfont">&#xe605;</i><i class="ci-right"><s>◇</s></i></div>
                <div class="dd dorpdown-layer"></div>
            </li>
            <li class="spacer"></li>
            <li class="fore4" clstag="h|keycount|2016|01e">
                <div class="dt"><a target="_blank" href="//vip.jd.com/">XBin会员</a></div>
            </li>
            <li class="spacer"></li>
            <li class="fore5" clstag="h|keycount|2016|01f">
                <div class="dt"><a target="_blank" href="//b.jd.com/">企业采购</a></div>
            </li>
            <li class="spacer"></li>
            <li class="fore8 dorpdown" id="ttbar-serv" clstag="h|keycount|2016|01g">
                <div class="dt cw-icon">客户服务<i class="iconfont">&#xe605;</i><i class="ci-right"><s>◇</s></i></div>
                <div class="dd dorpdown-layer"></div>
            </li>
            <li class="spacer"></li>
            <li class="fore9 dorpdown" id="ttbar-navs" clstag="h|keycount|2016|01h">
                <div class="dt cw-icon">网站导航<i class="iconfont">&#xe605;</i><i class="ci-right"><s>◇</s></i></div>
                <div class="dd dorpdown-layer"></div>
            </li>
            <li class="spacer"></li>
            <li class="fore10 mobile" id="J_mobile" clstag="h|keycount|2016|01i">
                <div class="dt mobile_txt">手机XBin</div>
                <div class="mobile_static">
                    <div class="mobile_static_qrcode"></div>
                </div>
                <div id='J_mobile_pop' class='mod_loading mobile_pop'></div>
            </li>
        </ul>
    </div>
</div>

<div id="header">
    <div class="w">
        <!--logo-->
        <div id="logo" class="logo" clstag="h|keycount|2016|02a">
            <h1 class="logo_tit"><a href="//www.jd.com" class="logo_tit_lk">XBin</a></h1>
            <h2 class="logo_subtit">XBin,多快好省</h2>
            <div class="logo_extend"></div>
        </div>
        <!--检索框-->
        <div id="search">
            <div class="search-m">
                <div class="search_logo"><a href="//www.jd.com" class="search_logo_lk" clstag="h|keycount|2016|02b">XBin，多快好省</a></div>
                <ul id="shelper" style="display: none"></ul>
                <div class="form">
                    <input type="text" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s" class="text"/>
                    <button onclick="search('key');return false;" class="button"><i class="iconfont">&#xe603;</i></button>
                </div>
            </div>
        </div>
        <!--购物车信息-->
        <div id="settleup" class="dorpdown" clstag="h|keycount|2016|04a">
            <div class="cw-icon"><i class="ci-left"></i><i class="ci-right"></i><i class="iconfont">&#xe607;</i>
                <a target="_blank" href="//cart.jd.com/cart.action">我的购物车</a>
            </div>
            <div class="dorpdown-layer">
                <div class="spacer"></div>
                <div id="settleup-content"><span class="loading"></span></div>
            </div>
        </div>
        <!--检索底部热词-->
        <div id="hotwords" clstag="h|keycount|2016|03b"></div>

        <div id="navitems">
            <ul id="navitems-group1">
                <li clstag="h|keycount|2016|05a" class="fore1"><a target="_blank" href="//miaosha.jd.com/">秒杀</a></li>
                <li clstag="h|keycount|2016|05b" class="fore2"><a target="_blank" href="https://a.jd.com/">优惠券</a></li>
                <li clstag="h|keycount|2016|05c" class="fore3"><a target="_blank" href="//red.jd.com/">闪购</a></li>
                <li clstag="h|keycount|2016|05d" class="fore4"><a target="_blank" href="//paimai.jd.com/">拍卖</a></li>
            </ul>
            <div class="spacer"></div>
            <ul id="navitems-group2">
                <li clstag="h|keycount|2016|05e" class="fore1"><a target="_blank" href="https://channel.jd.com/fashion.html">服装城</a></li>
                <li clstag="h|keycount|2016|05f" class="fore2"><a target="_blank" href="//chaoshi.jd.com/">XBin超市</a></li>
                <li clstag="h|keycount|2016|05g" class="fore3"><a target="_blank" href="//fresh.jd.com/">生鲜</a></li>
                <li clstag="h|keycount|2016|05h" class="fore4"><a target="_blank" href="//www.jd.hk/">全球购</a></li>
            </ul>
            <div class="spacer"></div>
            <ul id="navitems-group3">
                <li clstag="h|keycount|2016|05i" class="fore1"><a target="_blank" href="//jr.jd.com/">XBin金融</a></li>
            </ul>
        </div>
        <!--index_ok-->
        <div id="treasure" clstag="h|keycount|2016|07a"></div>
    </div>
</div>

<!--first page start-->
<div class="fs">
    <div class="grid_c1 fs_inner">
        <!--第一部分:col start-->
        <div class="fs_col1">
            <div class="J_cate cate">
                <ul class="JS_navCtn cate_menu">
                    <li class="cate_menu_item" data-index="1" clstag="h|keycount|2016|0601a">
                        <a target="_blank" class="cate_menu_lk" href="//jiadian.jd.com">家用电器</a>
                    </li>
                    <li class="cate_menu_item" data-index="2" clstag="h|keycount|2016|0602a">
                        <a target="_blank" class="cate_menu_lk" href="//shouji.jd.com/">手机</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//wt.jd.com">运营商</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//shuma.jd.com/">数码</a>
                    </li>
                    <li class="cate_menu_item" data-index="3" clstag="h|keycount|2016|0603a">
                        <a target="_blank" class="cate_menu_lk" href="//diannao.jd.com/">电脑办公</a>
                    </li>
                    <li class="cate_menu_item" data-index="4" clstag="h|keycount|2016|0604a">
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/home.html">家居</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/furniture.html">家具</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/decoration.html">家装</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/kitchenware.html">厨具</a>
                    </li>
                    <li class="cate_menu_item" data-index="5" clstag="h|keycount|2016|0605a">
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/1315-1342.html">男装</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/1315-1343.html">女装</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/children.html">童装</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/1315-1345.html">内衣</a></li>
                    <li class="cate_menu_item" data-index="6" clstag="h|keycount|2016|0606a">
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/beauty.html">个护化妆</a><span
                            class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/1620-1625.html">清洁用品</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/pet.html">宠物</a></li>
                    <li class="cate_menu_item" data-index="7" clstag="h|keycount|2016|0607a">
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/shoes.html">鞋靴</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/bag.html">箱包</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/jewellery.html">珠宝</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/1672-2615.html">奢侈品</a></li>
                    <li class="cate_menu_item" data-index="8" clstag="h|keycount|2016|0608a">
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/yundongcheng.html">运动</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/outdoor.html">户外</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/watch.html">钟表</a></li>
                    <li class="cate_menu_item" data-index="9" clstag="h|keycount|2016|0609a">
                        <a target="_blank" class="cate_menu_lk" href="http://car.jd.com/">汽车</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//che.jd.com/">汽车用品</a></li>
                    <li class="cate_menu_item" data-index="10" clstag="h|keycount|2016|0610a">
                        <a target="_blank" class="cate_menu_lk" href="//baby.jd.com">母婴</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//toy.jd.com/">玩具乐器</a></li>
                    <li class="cate_menu_item" data-index="11" clstag="h|keycount|2016|0611a">
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/food.html">食品</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//channel.jd.com/wine.html">酒类</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//fresh.jd.com">生鲜</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//china.jd.com">特产</a></li>
                    <li class="cate_menu_item" data-index="12" clstag="h|keycount|2016|0612a">
                        <a target="_blank" class="cate_menu_lk" href="//health.jd.com">医药保健</a></li>
                    <li class="cate_menu_item" data-index="13" clstag="h|keycount|2016|0613a">
                        <a target="_blank" class="cate_menu_lk" href="//book.jd.com/">图书</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//mvd.jd.com/">音像</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//e.jd.com/ebook.html">电子书</a></li>
                    <li class="cate_menu_item" data-index="14" clstag="h|keycount|2016|0614a">
                        <a target="_blank" class="cate_menu_lk" href="//jipiao.jd.com/">机票</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//hotel.jd.com/">酒店</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//trip.jd.com/">旅游</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//ish.jd.com/">生活</a></li>
                    <li class="cate_menu_item" data-index="15" clstag="h|keycount|2016|0615a">
                        <a target="_blank" class="cate_menu_lk" href="//licai.jd.com/">理财</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//z.jd.com/">众筹</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//baitiao.jd.com">白条</a><span class="cate_menu_line">/</span>
                        <a target="_blank" class="cate_menu_lk" href="//bao.jd.com/">保险</a></li>
                </ul>
                <div class="JS_popCtn cate_pop mod_loading" style="display: none;"></div>
            </div>
        </div>
        <!--第一部分:col end-->
        <!--第二部分 start-->
        <div class="fs_col2">
            <div class="J_slider slider">
                <!--动态获取内容-->
                <div class="J_slider_main slider_main"></div>
                <div class="J_slider_extend slider_extend clearfix"></div>
            </div>
        </div>
        <!--第二部分 end-->
        <!--第三部分 start-->
        <div class="fs_col3">
            <!--user info-->
            <div class="J_user user">
                <div class="user_info" clstag="h|keycount|2016|09a">
                    <div class="J_user_info_avatar user_info_avatar">
                        <a href="//home.jd.com"><img class="J_user_info_avatar_img" src="/images/no_login.jpg"></a>
                    </div>
                    <div class="user_info_show">
                        <p class="user_info_tip">Hi，欢迎来到XBin！</p>
                        <p><a href="javascript:login();" class="user_info_login">登录</a>
                            <a href="javascript:regist();" class="user_info_reg">注册</a>
                        </p>
                    </div>
                </div>
                <div class="user_profit">
                    <a href="//xinren.jd.com/?channel=99" target="_blank" clstag="h|keycount|2016|09b">新人福利</a>
                    <a href="//plus.jd.com" target="_blank" clstag="h|keycount|2016|09c">PLUS会员</a>
                </div>
            </div>
            <!--最新促销&公告-->
            <div class="news J_news">
                <div class="mod_tab news_tab J_news_tab">
                    <div class="mod_tab_head J_tab_head clearfix">
                        <a href="javascript:;" class="mod_tab_head_item news_first mod_tab_head_item_on">促销</a>
                        <a href="javascript:;" class="mod_tab_head_item news_last" clstag="h|keycount|2016|10b">公告</a>
                        <div class="news_tab_active J_news_tab_active"></div>
                        <a href="//www.jd.com/moreSubject.aspx" target="_blank" class="news_more">更多</a>
                    </div>
                    <div class="mod_tab_content J_tab_content" clstag="h|keycount|2016|10d">
                        <div class="mod_tab_content_item mod_tab_content_item_on">
                            <ul class="news_list">
                                <li class="news_item"><a href="//sale.jd.com/act/kedZBIyhGOtb.html" target="_blank" class="news_link">情人节，流行潮饰买一送一</a></li>
                                <li class="news_item"><a href="//sale.jd.com/act/Vp0ZOaCK3dhwc7T8.html" target="_blank" class="news_link">家电闹元宵，厨卫低至3折</a></li>
                                <li class="news_item"><a href="https://sale.jd.com/act/PXbAxE4wr7.html" target="_blank" class="news_link">礼遇情人节家电好礼买一赠五</a></li>
                                <li class="news_item"><a href="//trip.jd.com/" target="_blank" class="news_link">每日享折扣 XBin品质游</a></li>
                            </ul>
                        </div>
                        <div class="mod_tab_content_item">
                            <ul class="news_list">
                                <li class="news_item"><a href="//www.jd.com/news.aspx?id=32309" target="_blank" class="news_link">部分城市运费调整公告</a></li>
                                <li class="news_item"><a href="//www.jd.com/news.aspx?id=32121" target="_blank" class="news_link">华北区域优质活鲜送到家</a></li>
                                <li class="news_item"><a href="//www.jd.com/news.aspx?id=31158" target="_blank" class="news_link">XBin帮服务店突破1700家</a></li>
                                <li class="news_item"><a href="//www.jd.com/news.aspx?id=32015" target="_blank" class="news_link"> XBin售后退换无忧服务上线</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--提供的服务-->
            <div id="J_service" class="service">
                <div class="service_entry">
                    <ul class="J_tab_head service_list">
                        <li class="service_item service_frame mod_tab_head_item">
                            <a target="_blank" href="//chongzhi.jd.com/" class="service_lk" clstag="h|keycount|2016|11a">
                                <span class="service_corner"><i class="service_corner_txt">抢</i><i class="service_corner_ico"></i></span>
                                <i class="service_ico service_ico_huafei"></i> <span class="service_txt">话费</span>
                            </a>
                        </li>
                        <li class="service_item service_frame mod_tab_head_item">
                            <a target="_blank" href="//jipiao.jd.com/" class="service_lk"><i class="service_ico service_ico_jipiao"></i><span class="service_txt">机票</span></a>
                        </li>

                        <li class="service_item service_frame mod_tab_head_item">
                            <a target="_blank" href="//hotel.jd.com/" class="service_lk"><i class="service_ico service_ico_jiudian"></i><span class="service_txt">酒店</span></a>
                        </li>

                        <li class="service_item service_frame mod_tab_head_item">
                            <a target="_blank" href="//game.jd.com/" class="service_lk" clstag="h|keycount|2016|11d"><i class="service_ico service_ico_youxi"></i>
                                <span class="service_txt">游戏</span>
                            </a>
                        </li>
                        <li class="service_item ">
                            <a target="_blank" href="//b.jd.com/" class="service_lk" clstag="h|keycount|2016|11e"><i class="service_ico service_ico_qyg"></i>
                                <span class="service_txt">企业购</span>
                            </a>
                        </li>
                        <li class="service_item ">
                            <a target="_blank" href="//jiayouka.jd.com/" class="service_lk"><i class="service_ico service_ico_jiayou"></i><span class="service_txt">加油卡</span></a>
                        </li>

                        <li class="service_item ">
                            <a target="_blank" href="//movie.jd.com/index.html" class="service_lk"><i class="service_ico service_ico_dianying"></i>
                                <span class="service_txt">电影票</span>
                            </a>
                        </li>

                        <li class="service_item ">
                            <a target="_blank" href="//train.jd.com/" class="service_lk"><i class="service_ico service_ico_huoche"></i>
                                <span class="service_txt">火车票</span>
                            </a>
                        </li>

                        <li class="service_item ">
                            <a target="_blank" href="//z.jd.com/sceneIndex.html?from=jrscyn_20162" class="service_lk"><i class="service_ico service_ico_zhongchou"></i>
                                <span class="service_txt">众筹</span>
                            </a>
                        </li>

                        <li class="service_item ">
                            <a target="_blank" href="//licai.jd.com/?from=jrscyn_20161" class="service_lk"><i class="service_ico service_ico_licai"></i>
                                <span class="service_txt">理财</span>
                            </a>
                        </li>

                        <li class="service_item ">
                            <a target="_blank" href="//o.jd.com/market/index.action" class="service_lk"><i class="service_ico service_ico_lipin"></i>
                                <span class="service_txt">礼品卡</span>
                            </a>
                        </li>

                        <li class="service_item ">
                            <a target="_blank" href="//baitiao.jd.com/?from=jrscyn_20160" class="service_lk"><i class="service_ico service_ico_baitiao"></i>
                                <span class="service_txt">白条</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="J_tab_content service_pop">
                    <div class="mod_tab_content_item service_pop_item mod_loading"></div>
                    <div class="mod_tab_content_item service_pop_item mod_loading"></div>
                    <div class="mod_tab_content_item service_pop_item mod_loading"></div>
                    <div class="mod_tab_content_item service_pop_item mod_loading"></div>
                    <a class="J_service_pop_close service_pop_close iconfont" href="javascript:;">&#xe600;</a>
                </div>
            </div>
            <!--提供的服务 end-->
        </div>
        <!--第三部分 end-->
    </div>
    <!--fs inner end-->
    <div id="J_fs_act" class="fs_act"></div>
</div>
<!--first page end-->

<script type="text/javascript">
    pageConfig.O2_REPORT = 100;
    pageConfig.O2_ERROR_REPORT = 20;
    pageConfig.tplLoadTimeout = 5000;
    pageConfig.dataLoadTimeout = 5000;
    pageConfig.miaoshaAdwords = '总有你想不到的低价';
    pageConfig.leftCateABtestSection = {start: 2000, end: 3000};
</script>

<script type="text/javascript">
    // 轮播第一帧逻辑直出
    (function (d) {
        var f = d.pageConfig;
        f.clstagPrefix = "h|keycount|2016|";
        f.clog = {};
        var b = function (h) {
            if (h && h.length) {
                var g = h.length;
                var i = Math.floor(Math.random() * g);
                return h[i]
            }
        };
        var a = function (j) {
            var m = document, l, k, h, g = [];
            if (m.querySelectorAll) {
                return m.querySelectorAll("." + j)
            }
            if (m.evaluate) {
                k = ".//*[contains(concat(' ', @class, ' '), ' " + j + " ')]";
                l = m.evaluate(k, m, null, 0, null);
                while ((h = l.iterateNext())) {
                    g.push(h)
                }
            } else {
                l = m.getElementsByTagName("*");
                k = new RegExp("(^|\\s)" + j + "(\\s|$)");
                for (h = 0; h < l.length; h++) {
                    if (k.test(l[h].className)) {
                        g.push(l[h])
                    }
                }
            }
            return g
        };

        function c() {
            var l = f.focusData;
            var h = "";
            var k = "";
            var j = a("J_slider")[0];
            var m = a("J_slider_main")[0];
            var i = f.compatible && f.wideVersion;
            if (l && l.length) {
                var n = l.length;
                if (n) {
                    l = b(l);
                    f.clog.logDomain = l.logDomain;
                    f.clog.logV = l.logV;
                    var o = i ? l.src : l.srcB;
                    h += '<li class="J_slider_item slider_item">';
                    h += '<a href="' + l.href + '" class="slider_item_lk mod_loading" fclog="' + l.clog + '" clstag="' + f.clstagPrefix + "08a01" + '" target="_blank">';
                    h += '<img data-lazy-src="' + o + '" alt="' + l.alt + '" src="//misc.360buyimg.com/mtd/pc/common/img/blank.png" class="J_slider_item_img slider_item_img" />';
                    h += '</a></li>';
                }
            }
            k += '<ul class="slider_list J_slider_list">' + h + '</ul>';
            k += '<div class="J_slider_indicator slider_indicator"></div>';
            k += '<a href="javascript:void(0)"  class="J_slider_control_prev slider_control_item slider_control_prev"><i class="iconfont">&#xe602;</i></a>';
            k += '<a href="javascript:void(0)"  class="J_slider_control_next slider_control_item slider_control_next"><i class="iconfont">&#xe601;</i></a>';
            m.innerHTML = k;
            m.className = m.className.replace(new RegExp("(\\s|^)mod_lazyload(\\s|$)"), "");
            var g = a("J_slider_item_img")[0];
            var p = g.parentNode;
            e(g, function () {
                g.removeAttribute("data-lazy-src");
                p.className = p.className.replace(new RegExp("(\\s|^)mod_loading(\\s|$)"), "")
            }, function () {
                var q = p.parentNode;
                var r = q.parentNode;
                r.removeChild(q)
            })
        }

        function e(j, h, i) {
            if (!j) {
                return
            }
            var g = j.getAttribute("data-lazy-src");
            if (g && g.length) {
                var k = false;
                j.setAttribute("src", g);
                j.onload = function () {
                    if (!!k) {
                        return
                    }
                    k = true;
                    h && h()
                };
                j.onerror = function () {
                    k = true;
                    i && i()
                };
                if (!k && j.complete) {
                    k = true;
                    h && h()
                }
            }
        }

        c()
    })(window, void 0);

    (function () {
        pageConfig.liftTxtArr = ['享品质', '服饰美妆', '家电手机', '电脑数码', '3 C运动', '爱吃', '母婴家居', '图书汽车', '虚拟', '还没逛够'];
    }());
</script>

<script type="text/javascript" src="/js/wl.js"></script>

</body>
</html><!--index_ok-->