<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.binux.mapper.TbItemMapper" >
  <resultMap id="BaseResultMap" type="cn.binux.pojo.TbItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sell_point" property="sellPoint" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    id, title, sell_point, price, num, barcode, image, cid, status, created, updated
    from tb_item
    where id = #{id}
  </select>

  <insert id="insert" parameterType="cn.binux.pojo.TbItem" >
    insert into tb_item (id, title, sell_point,
      price, num, barcode, 
      image, cid, status, 
      created, updated)
    values (#{id}, #{title}, #{sellPoint}, 
      #{price}, #{num}, #{barcode},
      #{image}, #{cid}, #{status},
      #{created}, #{updated})
  </insert>

  <update id="update" parameterType="cn.binux.pojo.TbItem" >
    update tb_item
    set title = #{title},
      sell_point = #{sellPoint},
      price = #{price},
      num = #{num},
      barcode = #{barcode},
      image = #{image},
      cid = #{cid},
      status = #{status},
      created = #{created},
      updated = #{updated}
    where id = #{id}
  </update>
</mapper>
